**/.idea
.catkin_tools/*
**/.catkin_tools
.idea/*
*.tmp
**/*.launch~
**/*.srv~
**/*.msg~
*~
*.pyc
./frozen_model
./frozen_model/*
.catkin_workspace
.catkin_tools
build
build/*
devel
devel/*
logs
logs/*
